[submodule "gpui-component"]
	path = gpui-component
	url = https://github.com/longbridge/gpui-component.git
[submodule "mattpocock_skills"]
	path = mattpocock_skills
	url = https://github.com/mattpocock/skills.git
[submodule "anthropics_skills"]
	path = anthropics_skills
	url = https://github.com/anthropics/skills.git
[submodule "vercel_labs_agent_skills"]
	path = vercel_labs_agent_skills
	url = https://github.com/vercel-labs/agent-skills.git
